<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HomePage</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">/_Simon.codes</div>
        <div class="search">
            <%- include('./partials/search.ejs') %>
        </div>

    </header>

    <div class="wrapper">
   <div class="news-single">
   

           
       
       

   
<a href="/">&larr; Back</a>
        
       
    </div>
    </div>
</body>
</html>